body {
    background-color: #1e2931;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-style: normal;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
  }
  

.topsearch{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.Searchbar{
  background: #cec9c9;
   text-align: center;
    width: 80%;
    padding:0.5em 2em;
    color: #474141;
}
